footer {
  background: var(--color-primary);
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
  font-family: 'inter', sans-serif;
}

footer a {
  color: var(--color-bg);
}

footer ul li i {
  margin-left: 0.5rem;
  font-size: 1.3rem;
  color: var(--color-bg);
}

.footer-logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
  color: var(--color-bg);
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
  transition: var(--transition);
}

.footer-social a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.7rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer-social i {
  font-size: 1.2rem;
}

.footer-social a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer-copyright {
  margin-bottom: 5rem;
  color: var(--color-bg);
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-social {
    margin-bottom: 2.6rem;
  }
}
